<div class="card">
  <div class="card-header bg-warning text-white">
    <strong class="text">Student Details</strong>
    <div class="input-group mb-3 mt-4">
      <input
        type="text"
        class="form-control"
        placeholder="Tìm kiếm..."
        aria-label="Tìm kiếm"
        [(ngModel)]="searchText"
      />
    </div>
    <button
      type="button"
      class="btn btn-danger btn-sm mx-5"
      (click)="onDeleteAllStudent()"
      style="float: right"
    >
      Delete All
    </button>
    <button
      type="button"
      class="btn btn-primary btn-sm"
      (click)="onAddStudent()"
      style="float: right"
    >
      Add student
    </button>
  </div>
</div>

<div class="card-body">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th [style.display]="studentArr.length > 0 ? 'block' : 'none'">
              <input
                type="checkbox"
                [(ngModel)]="isSelectedAll"
                (ngModelChange)="onPageData()"
              />
            </th>
            <th>FullName</th>
            <th>Class</th>
            <th>Email</th>
            <th>Address</th>
            <!-- <th>Giới tính</th> -->
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let item of studentArr
                | filter : searchText
                | paginate : { itemsPerPage: pageSize, currentPage: page }
            "
          >
            <td><input type="checkbox" [(ngModel)]="item.isChecked" /></td>
            <td>{{ item.fullName }}</td>
            <td>{{ item.class }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.address }}</td>
            <td>{{ item.address }}</td>
            <td class="text-center">
              <!-- Lý do chính để truyền đối tượng item đến onEdit là để cung cấp quyền truy cập vào dữ liệu cụ thể của sinh viên trong hàm. -->
              <button
                class="btn btn-info btn-sm mx-5"
                type="button"
                (click)="onEdit(item, item.iD)"
              >
                Edit
              </button>
              <button
                class="btn btn-secondary btn-sm"
                type="button"
                (click)="onDelete(item.iD)"
              >
                Remove
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>

<!-- The modal -->
<div class="modal" id="studentModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal header -->
      <div class="modal-header bg-success text-white">
        <h6 class="modal-title text-add">Add student details</h6>
        <button
          type="button"
          class="btn-close btn-sm text-white"
          (click)="onCloseModal()"
        ></button>
      </div>
      <form
        #userForm="ngForm"
        (submit)="onSubmit(userForm)"
        (ngSubmit)="onSubmit(userForm)"
      >
        <!-- Modal body -->
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <label class="for-label">FullName</label>
              <input
                type="text"
                name="fullName"
                class="form-control"
                placeholder="FullName"
                [(ngModel)]="student.fullName"
                required
                #fullName="ngModel"
                pattern="namePattern"
              />
              <div error *ngIf="fullName.touched && !fullName.valid">
                <div class="text-danger" *ngIf="fullName.errors?.['required']">
                  Tên không được bỏ trống
                </div>
                <!-- <div class="text-danger" *ngIf="fullName.errors?.['pattern']">
                  Hãy nhập đúng ký tự
                </div> -->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label class="for-label">Class</label>
              <input
                type="text"
                name="class"
                class="form-control"
                placeholder="Class"
                [(ngModel)]="student.class"
                #class="ngModel"
                [pattern]="classPattern"
                required
              />
              <div error *ngIf="class.touched && !class.valid">
                <div class="text-danger" *ngIf="class.errors?.['required']">
                  Không được bỏ trống
                </div>
                <div class="text-danger" *ngIf="class.errors?.['pattern']">
                  Hãy nhập đúng tên lớp
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label class="for-label">Email</label>
              <input
                type="email"
                name="email"
                class="form-control"
                placeholder="Email"
                [(ngModel)]="student.email"
                #gmail="ngModel"
                [pattern]="gmailPattern"
                required
              />
              <div error *ngIf="gmail.touched && !gmail.valid">
                <div class="text-danger" *ngIf="gmail.errors?.['required']">
                  Không được bỏ trống
                </div>
                <div class="text-danger" *ngIf="gmail.errors?.['pattern']">
                  Hãy nhập đúng Email (ví dụ: example&#64;gmail.com)
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label class="for-label">Address</label>
              <textarea
                class="form-control"
                rows="3"
                name="address"
                placeholder="Address"
                [(ngModel)]="student.address"
                (keyup.enter)="onSave(userForm)"
              ></textarea>
            </div>
          </div>
          <!-- <div class="row">
            <select class="col-md-12">
              <div >
                <option value="">Nam</option>
                <option value="">Nữ</option>
              </div>
            </select>
          </div> -->
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-md-6 text-center">
              <button
                class="btn btn-secondary btn-sm"
                (click)="onCloseModal()"
                (on)="onCancel()"
              >
                Cancel
              </button>
            </div>
            <div class="col-md-6 text-center">
              <button
                class="btn btn-success btn-sm"
                (click)="onSave(userForm)"
                *ngIf="this.student.iD == 0"
              >
                <!-- [disabled]="!userForm.valid" -->
                Save
              </button>
              <button
                class="btn btn-success btn-sm"
                (click)="onUpdate()"
                *ngIf="this.student.iD !== 0"
                [disabled]="!userForm.valid"
              >
                Update
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
